.formContainer {
  display: flex;
  flex:1;
  gap: 5rem;
}

.inputContainer {
  height: 25rem;
  display: flex;
  flex:1;
  flex-direction: column;
  gap: 5rem;
}

.formInput {
  background-color: var(--darkblue);
  border-radius: 5rem;
  border: var(--white) solid 0.3rem;
  height: 10rem;
}

.formInput[placeholder] {
  color: var(--white);
  font-family: var(--font);
  font-size: 4rem;
  padding-left: 4rem;
}

.buttonAddContainer{
    align-self: flex-end;
}

.buttonAddText {
  background-color: var(--aquamarine);
  border: none;
  border-radius: 5rem;
  color: var(--white);
  font-family: var(--font);
  font-size: 4rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: end;
  height: 10rem;
  width: 43rem;
  padding-left: 4rem;
}

.buttonAdd{
    background-color: var(--orange);
    border: none;
    cursor: pointer;
    color: var(--darkblue);
    font-family: var(--font);
    font-size: 8rem;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    margin-right: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}