
.containerLogo {
    width: 43rem;
    height: 25rem;
    background-color: var(--darkblue);
    border: solid 3px var(--white);
    border-radius: 5rem;
    font-family: BubbleBubble;
    position: relative;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.imgLogo{
    position: absolute;
    right: 3rem;
    top: 1rem;
}

.titlePixel{
    color: var(--white);
    font-size: 4rem;
}

.titlePunch{
    color: var(--orange);
    font-size: 4.8rem;
}

.titleAcademy{
    color: var(--cyan); 
    font-size: 5.2rem;   
}