.containerOpenModal{
    display: flex;
    justify-content: center;
    
}

.title{
    font-family: var(--fontTitles);
    color: var(--orange);
    font-size: 5.2rem;
}

.buttonAddText {
    background-color: var(--aquamarine);
    border: none;
    border-radius: 5rem;
    color: var(--white);
    font-family: var(--font);
    font-size: 4rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: end;
    height: 10rem;
    width: 43rem;
    padding-left: 4rem;
  }

.buttonAdd{
    background-color: var(--orange);
    border: none;
    cursor: pointer;
    color: var(--darkblue);
    font-family: var(--font);
    font-size: 8rem;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    margin-right: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}