.containerList {
  height: 100rem;
  background-color: var(--aquamarine);
  border: solid 3px var(--orange);
  border-radius: 5rem;
  font-family: TechMono;
  position: relative;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.titleElement {
  font-size: 4.8rem;
  color: var(--white);
  margin-bottom: 0.5rem;
  padding-left: 4rem;
}

.elementContainer {
  background-color: var(--darkblue);
  padding-left: 2rem;
  padding-right: 0.5rem;
  height: 10rem;
  border-radius: 5rem;
  border: solid 0.3rem var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.elementContainer:hover .deleteButton,
.elementContainer:hover .editButton {
  display: block;
}

.element {
  color: var(--white);
  font-size: 3rem;
  padding-left: 2rem;
}

.buttonContainer {
  display: flex;
  gap: 2rem;
}

.deleteButton,
.editButton {
  display: none;
  height: 8.5rem;
  width: 8.5rem;
  border-radius: 50%;
  background-color: var(--orange);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
