.containerList {
    height: 100rem;
    background-color: var(--aquamarine);
    border: solid 3px var(--white);
    border-radius: 5rem;
    font-family: BubbleBubble;
    position: relative;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

