.containerList {
    height: 100rem;
    background-color: var(--aquamarine);
    border: solid 3px var(--orange);
    border-radius: 5rem;
    font-family: TechMono;
    position: relative;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.titleElement{
    font-size: 4.8rem;
    color: var(--white);
}

.elementContainer{
    background-color: var(--darkblue);
    padding: 2rem;
    height: 7.2rem;
    border-radius: 5rem;
    border: solid 0.3rem var(--white);
    display: flex;
    align-items: center;
}

.element{
    color: var(--white);
    font-size: 2rem;
}

